<nav class="site-nav" aria-label="Main menu">
  <ul>
    <li><a href="/" {% if page.url == '/' %}aria-current="page"{% endif %}>Home</a></li>
    <li><a href="/priorities/" {% if page.url == '/priorities/' or page.url contains '/priorities/' %}aria-current="page"{% endif %}>Priorities</a></li>
    <li><a href="/about-cody/" {% if page.url == '/about-cody/' %}aria-current="page"{% endif %}>About Cody</a></li>
    <li><a href="/get-in-touch/" {% if page.url == '/get-in-touch/' %}aria-current="page"{% endif %}>Get in Touch</a></li>
  </ul>
</nav>
